{% extends 'main/parts/base.html' %}
{% load static %}

{% block content %}
    <div class="min-h-screen w-full flex items-center justify-center px-4 py-12">
        <div class="w-full max-w-md">
            <div class="bg-white p-8 rounded-lg border shadow-md">
                <form action="{{ request.path }}" method="POST">
                    {% csrf_token %}
                    
                    <h1 class="text-center text-2xl sm:text-3xl font-bold font-lato mb-6">Sign In</h1>
                    <div class="space-y-4">
                        <h1 class="font-lato text-red-400 text-sm" id="notif">{{notif}}</h1>
                        <div class="space-y-1">
                            <label class="font-lato font-bold text-sm" for="email">Email</label>
                            <input class="border w-full text-base sm:text-lg font-lato px-3 py-2 rounded" name="email" placeholder="Email" type="email" required>
                        </div>
                        <div class="space-y-1">
                            <label class="font-lato font-bold text-sm" for="password">Password</label>
                            <input class="border w-full text-base sm:text-lg font-lato px-3 py-2 rounded" placeholder="Password" name="password" type="password" required>
                        </div>
                        <div class="w-full flex justify-end">
                            <a href="#" class="text-xs sm:text-sm font-bold text-blue-600 hover:underline">Forgot password?</a>
                        </div>
                    </div>
                    <div class="mt-6">
                        <button class="w-full py-2 bg-slate-950 text-white rounded-full text-sm sm:text-base font-semibold hover:bg-slate-800 transition duration-300" type="submit">SIGN IN</button>
                    </div>

                    <div class="mt-8 text-center">
                        <a href="{% url 'sign-up' %}" class="font-lato text-sm">
                            Don't have an account? <span class="font-bold text-blue-600 hover:underline">Sign Up</span>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}