{% extends 'main/admin/dashboard.html' %}
{% load static %}

{% block dashboard %}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-4">
    <div>
        <div class="container mx-auto px-4 pt-8 pb-2">
            <h1 class="text-3xl flex-1 font-bold mb-2">Orders</h1>
        </div>
    
        <div class="bg-white rounded-lg shadow-md p-6">
            <div class="flex items-center justify-between mb-4">
                <h2 class="text-xl font-semibold text-gray-700">Total 
                    {% if status == 'In Progress' %}
                        Orders
                    {% else %}
                        {{status}}
                    {% endif %}
                </h2>
                <i class="fas fa-shopping-cart text-2xl text-yellow-500"></i>
            </div>
            <p class="text-3xl font-bold text-gray-800">{{ total_orders }}</p>
        </div>
    </div>
</div>

<div class="flex md:flex-row flex-col">
    <div class="flex-1 my-2 mb-4">
        <div class="flex md:flex-row flex-col space-x-4">
            <a href="/seller/orders/In Progress">
                <div class="font-lato w-40 h-11 font-bold rounded-xl {% if status == 'In Progress' %} bg-slate-950 hover:bg-slate-800 text-white {% else %} border-2 border-slate-950 hover:bg-gray-200 {% endif %}">
                    <div class="h-full flex flex-col justify-center">
                        <h1 href="#" class="text-center">In Progress</h1>
                    </div>
                </div>
            </a>

            <a href="/seller/orders/Delivered">
                <div class="font-lato w-40 h-11 font-bold rounded-xl {% if status == 'Delivered' %} bg-slate-950 hover:bg-slate-800 text-white {% else %} border-2 border-slate-950 hover:bg-gray-200 {% endif %}">
                    <div class="h-full flex flex-col justify-center">
                        <h1 href="#" class="text-center">Delivered</h1>
                    </div>
                </div>
            </a>

            <a href="/seller/orders/Cancelled">
                <div class="font-lato w-40 h-11 font-bold rounded-xl {% if status == 'Cancelled' %} bg-slate-950 hover:bg-slate-800 text-white {% else %} border-2 border-slate-950 hover:bg-gray-200 {% endif %}">
                    <div class="h-full flex flex-col justify-center">
                        <h1 href="#" class="text-center">Cancelled</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Search Input -->
    <div class="mt-2">
        <form action="" method="GET">
            <div class="relative w-60">
                <input name="search" type="text" value="{{search}}" placeholder="Search customer email" class=" w-60 pl-10 pr-4 py-3 border border-slate-950 rounded-xl text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition duration-200">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
        </form>
    </div>
</div>
<div>
    <div class="rounded-2xl border shadow-2xl overflow-x-auto">
        <table class="min-w-full bg-white w-full border">
            <thead>
                <tr class="bg-gray-50 border-b">
                    <th class="py-3 px-6 text-left text-xs font-bold font-lato text-gray-500 uppercase tracking-wider">ID</th>
                    <th class="py-3 px-6 text-left text-xs font-bold font-lato text-gray-500 uppercase tracking-wider">Total Items</th>
                    <th class="py-3 px-6 text-left text-xs font-bold font-lato text-gray-500 uppercase tracking-wider">Total Price</th>
                    <th class="py-3 px-6 text-left text-xs font-bold font-lato text-gray-500 uppercase tracking-wider">Customer Email</th>
                    <th class="py-3 px-6 text-left text-xs font-bold font-lato text-gray-500 uppercase tracking-wider">Action</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                {% for order in order_list %}
                    <tr class="hover:bg-gray-50 transition-colors duration-200">
                        <td class="py-4 px-6 whitespace-nowrap">{{order.transaction_id}}</td>
                        <td class="py-4 px-6 whitespace-nowrap">{{ order.transaction_total_items }}</td>
                        <td class="py-4 px-6 whitespace-nowrap">₱{{ order.transaction_total_price }}</td>
                        <td class="py-4 px-6 whitespace-nowrap">{{ order.transaction_owner.username }}</td>
                        <td class="py-4 px-6 whitespace-nowrap">
                            <button onclick="openModal(this)" id="{{order.transaction_invoice}}" class="bg-slate-950 hover:bg-slate-800 text-white text-sm py-2 px-4 rounded-lg transition-colors duration-200 focus:outline-none focus:ring-2  focus:ring-opacity-50">
                                View
                            </button>
                        </td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
</div>

<!--Modal-->
<div id="modal" class='absolute top-0 left-0 w-full hidden flex-col justify-center h-full z-40'>
    <div class="w-full flex justify-center">
        <div class="max-h-[946px] relative border bg-white shadow-2xl p-5 flex flex-col space-y-4 rounded-2xl">
            <a onclick="close_modal()" class="font-bold text-lg hover:cursor-pointer absolute top-2 right-4">X</a>
            <h1 class="font-lato font-bold text-2xl mb-5">Order Info</h1>
            <div class="grid grid-cols-2 gap-x-4">
                <div class="">
                    <h1 class="font-lato text-sm">First Name</h1>
                    <input id="first_name" class="border border-gray-300 w-full rounded-lg" type="text" readonly value="">
                </div>
                <div class="">
                    <h1 class="font-lato text-sm">Last Name</h1>
                    <input id="last_name" class="border border-gray-300  w-full rounded-lg" type="text" readonly value="">
                </div>
            </div>
            <div class="grid grid-cols-2 gap-x-4">
                <div>
                    <h1 class="font-lato text-sm">Email</h1>
                    <input id="email" class="border border-gray-300 w-full rounded-lg" type="text" readonly value="">
                </div>

                <div>
                    <h1 class="font-lato text-sm">Address</h1>
                    <input id="address" class="border border-gray-300 w-full rounded-lg" type="text" readonly value="">
                </div>
            </div>

            <div class="grid grid-cols-2 gap-x-4">
                <div>
                    <h1 class="font-lato text-sm">Order status</h1>
                    <select id="status" class="border border-gray-300 w-full rounded-lg">
                        <option value="In Progress">In Progress</option>
                        <option value="Delivered">Delivered</option>
                        <option value="Cancelled">Cancelled</option>
                    </select>
                </div>
            </div>

            <h1 class="font-bold font-lato text-lg">Products</h1>
            <div class="rounded-2xl border overflow-x-auto max-h-[17rem] overflow-y-auto">
                <table class="min-w-full bg-white w-full border">
                    <thead>
                        <tr class="bg-gray-50 border-b">
                            <th class="py-3 px-6 text-left text-xs font-bold font-lato text-gray-500 uppercase tracking-wider">Product Name</th>
                            <th class="py-3 px-6 text-left text-xs font-bold font-lato text-gray-500 uppercase tracking-wider">Size</th>
                            <th class="py-3 px-6 text-left text-xs font-bold font-lato text-gray-500 uppercase tracking-wider">price</th>
                            <th class="py-3 px-6 text-left text-xs font-bold font-lato text-gray-500 uppercase tracking-wider">quantity</th>
                            <th class="py-3 px-6 text-left text-xs font-bold font-lato text-gray-500 uppercase tracking-wider">total price</th>
                        </tr>
                    </thead>
                    <tbody id="table_body" class="divide-y divide-gray-200">
                        <tr id="table_tr" class="hover:bg-gray-50 transition-colors duration-200">
                            <td class="py-4 px-6 whitespace-nowrap modal-td"></td>
                            <td class="py-4 px-6 whitespace-nowrap modal-td"></td>
                            <td class="py-4 px-6 whitespace-nowrap modal-td"></td>
                            <td class="py-4 px-6 whitespace-nowrap modal-td"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="w-full flex justify-end">
                <button onclick="open_confirm_modal()" class="px-5 py-2 rounded-lg font-bold font-lato bg-emerald-500 hover:bg-emerald-600 text-white">Update Order Status</button>

            </div>


            <!--Confirmation modal-->
            <div id="confirmation_modal" class="h-full w-full absolute top-0 left-0 hidden flex-col justify-center">
                <div class="w-full flex justify-center">
                    <div class="w-96 py-10 relative rounded-2xl shadow-2xl  border bg-white flex flex-col justify-center">
                        <div class="flex justify-center">
                            <h1 class="text-center font-lato font-bold text-xl w-56">Are you sure you want to change the order status?</h1>
                        </div>

                        <div class="flex w-full justify-center mt-8 space-x-4">
                            <button onclick="close_confirm_modal()" class="w-36 h-10 hover:bg-gray-200 rounded-xl border border-slate-950 ">Close</button>
                            <button onclick="update_transaction_status()" class="w-36 h-10 rounded-xl bg-slate-950 hover:bg-slate-800 text-white">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
    <script src="{% static 'js/seller_orders.js' %}"></script>
{% endblock %}